    <!-- About Section -->
    <div class="color-blue row no-margins text-center">
        <div>
            <h2 class="color-cyan bookmark text-light">About</h2>
        </div>
    </div>

    <section id="about" class="container content-section text-center color-cyan">
        <div class="row" align="justify">
            <div class="col-md-2">
            </div>
            <div class="col-md-4 text-light">
                <img class="datahack-icon" src="img/icon_logo-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="datahack-title" align="center">DataHack</h1>
                <div class="left-text-column ">
                <p align="justify">
                DataHack 2015 is the first data-driven hackathon in Israel, designed to bring together the Israeli data community.  Set to take place at the end of November, DataHack will host over a hundred data-enthusiastic programmers, designers and researchers, competing over 48 hours and combining their skills to build innovative solutions for real-world problems.
                </p>
                </div>
            </div>
            <div class="col-md-4 text-light">
                <img class="location-icon" src="img/icon_gps-04-04.png" alt="Location" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="location-title" align="center">Location</h1>
                <div class="middle-text-column">
                <p align="justify">
                DataHack will be hosted at the Hansen House - Center for Design, Media and Technology, located at Gdalyahu Alon 14, Jerusalem. The center includes exhibition spaces, an animation lab, theater performance space, a projection room, studios for visiting artists and the Graduate Programs of the Bezalel Academy of Arts and Design Jerusalem.
                </p>
                </div>
            <div class="col-md-2">
            </div>
            <br><br><br>
          </div>
        </div>
        <div class="row" align="justify">
            <div class="col-md-2">
            </div>
            <div class="col-md-4 text-light">
                <img class="theme-icon" src="img/icon_chart-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="theme-title" align="center">Theme</h1>
                <div class="left-text-column ">
                <p align="justify">
                Like you may have guessed, the theme of DataHack is data. As such, every project is required to have processing and/or analysis of some interesting data at its core. It can be a machine learning algorithm, a statistical analysis or producing deep insights automatically with data mining techniques - we just want to see you do innovative things with data.

                Excellent mentors from both academia and industry will be present onsite throughout the event to help you tackle the challenges ahead.
                </p>
                </div>
            </div>
            <div class="col-md-4 text-light">
                <img class="data-icon" src="img/icon_search-04.png" alt="Location" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="data-title" align="center">Data</h1>
                <div class="middle-text-column">
                <p align="justify">
                We are working very hard to provide you with access to interesting data sets. Some of those will come from sponsors, who might even pose specific challenges to tackle using their data. We have also partnered with the Public Knowledge Workshop to provide you with acces to data from public and govermental bodies. Finally, you are of course free to use any data set open for public use or for which you have free access. Have a data-related question? Contact our data team at <a href="mailto:data@datahack-il.com" style="color:red" target="_blank">data@datahack-il.com</a>!
                </p>
                </div>
            <div class="col-md-2">
            </div>
            <br><br><br>
          </div>
        </div>
        <div class="row" align="justify">
            <div class="col-md-2">
            </div>
            <div class="col-md-4 text-light">
                <img class="about-icon" src="img/icon_calendar-04.png" alt="Date" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="about-title" align="center">Date</h1>
                <div class="left-text-column ">
                <p align="justify">
                DataHack 2015 will take place on Noveber 25th-27th, 2015. The event will start on Wednesday, November 25th afternoon and run until Friday, November 27th afternoon.  An exact schedule will be announced in the near future.
                </p>
                </div>
            </div>
            <div class="col-md-4 text-light">
                <img class="about-icon" src="img/icon_id_04.png" alt="Participants" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="about-title" align="center">Participation</h1>
                <div class="middle-text-column">
                <p align="justify">
                Registration to the event is open to anyone - students, researches, designers and industry professionals. Applications will be carefully reviewed for skills and experience, and around one hundred applicants will be selected to form balanced teams of engineers, researchers and designers ready to tackle the challenges ahead.
                </p>
                </div>
            <div class="col-md-2">
            </div>
            <br><br><br>
          </div>
        </div>

    </section>
