    <!-- Contact Section -->
<div class="color-navyblue row no-margins text-center">
    <div>
        <h2 class="color-red bookmark text-light">Contact</h2>
    </div>
</div>
    <section id="contact" class="container content-section text-center color-red">
        <div class="row" align="justify">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <div class="col-md-6 text-light">
                  <img class="sponsor-icon" src="img/icon_prizes-04.png" alt="Sponsor" style="display:block;margin:auto;margin-bottom:1cm;">
                  <h1 class="sponsor-title" align="center">Sponsor Us</h1>
                  <div class="middle-text-column">
                  <p align="justify">
                  Considering becoming a sponsor? We’re glad to hear! Please email us at <a href="mailto:sponsor@datahack-il.com" style="color:dark">sponsor@datahack-il.com</a>, and our sponsoring team will work with you to find the a solution that fits your company.
                  </p>
                  </div>
              <br><br><br>
            </div>
              <div class="col-md-6 text-light">
                  <img class="contact-icon" src="img/icon_contact-04.png" alt="Contact" style="display:block;margin:auto;margin-bottom:1cm;">
                  <h1 class="contact-title" align="center">Contact Us</h1>
                  <div class="left-text-column ">
                  <p align="justify">
                  Have a question? Need our help? Please don't hesitate to contact us with any enquiry at <font color="navyblue"><a href="mailto:contact@datahack-il.com" style="color:navyblue">contact@datahack-il.com</a></font>.
                  </p>
                  </div>
              </div>
            </div>
          <div class="col-md-2">
          </div>
      </div>
          <div class="row" align="justify">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                <div class="col-md-6 text-light">
                    <img class="contact-icon" src="img/icon_chart-04.png" alt="DataTeam" style="display:block;margin:auto;margin-bottom:1cm;">
                    <h1 class="contact-title" align="center">The Data Team</h1>
                    <div class="left-text-column ">
                    <p align="justify">
                    Data is a big part of DataHack. You need some help with choosing yours? Intending on bringing your own data set or using an open one, but could use some advice? Have a data-related question? Contact our data team at <a href="mailto:data@datahack-il.com" style="color:navyblue" target="_blank">data@datahack-il.com</a>!
                    </p>
                    </div>
                </div>
                  <div class="col-md-6 text-light">
                      <img class="mentor-icon" src="img/icon_spons-04.png" alt="Contact" style="display:block;margin:auto;margin-bottom:1cm;">
                      <h1 class="mentor-title" align="center">Mentor</h1>
                      <div class="left-text-column ">
                      <p align="justify">
                      Have an advanced degree and research experience in a relevant field (machine learning, data science, statistics, etc.), and a couple of hours to spare? Maybe years of experience in manipulating data in the industry? Come and mentor our participants! To join as a mentor contact us at <font color="navyblue"><a href="mailto:mentor@datahack-il.com" style="color:navyblue">mentor@datahack-il.com</a></font>.
                      </p>
                      </div>
                  </div>
              </div>
            <div class="col-md-2">
            </div>
        </div>
    </section>
