<!-- Register section -->
<div class="color-cyan row no-margins text-center">
    <div>
        <h2 class="color-navyblue bookmark text-light">Data</h2>
    </div>
</div>

<section id="data" class="container content-section text-center color-navyblue">


    <div class="row" align="justify">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 text-light">
            <font size="5">Data is a big part of DataHack. You need some help with choosing yours? Intending on bringing your own data set or using an open one, but could use some advice? <a href="mailto:data@datahack-il.com" style="color:red" target="_blank">Let our data team know!</a></font>
            <!--
            <script type="text/javascript" src="http://form.jotform.me/jsform/52911416710448"></script> -->
            <br><br><br><br><br>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-2">
        </div>
        <div class="col-md-4 text-light">
            <img class="data-challenge-icon" src="img/icon_prizes-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
            <h1 class="data-challenge-title" align="center">Data Challenges</h1>
            <div class="left-text-column ">
              <p align="justify">
              Some of our sponsoring companies are not only bringing their own data for you to play with, but will also pose a specific challange for teams to tackle, and might even give out prizes for the best efforts. More details coming soon!
              </p>
              <!--
              <div class="col-md-6">
                </b> A data challenge by: </b><br>
                <img class="ebay-logo" src="img/logos/for_challenges/logo_ebay.png" alt="ebay" style="display:block;margin:auto;margin-bottom:0;">
              </div>
              <div class="col-md-6">
                </b> A data challenge by: </b><br>
                <img class="outbrain-logo" src="img/logos/for_challenges/logo_outbrain.png" alt="Outbrain" style="display:block;margin:auto;margin-bottom:1cm;">
              </div>
              -->
            </div>
        </div>
        <div class="col-md-4 text-light">
            <img class="data-set-icon" src="img/icon_datasets.png" alt="Location" style="display:block;margin:auto;margin-bottom:1cm;">
            <h1 class="data-set-title" align="center">Data Sets</h1>
            <div class="middle-text-column">
            <p align="justify">
            Teams participating in DataHack are free to use any data set open for public use or for which they have free access. However, we also want to offer you a curated list of cool data sets for you to consider. Some data is coming your way real soon!
            </p>
            </div>
        <div class="col-md-2">
        </div>
        <br><br><br>
      </div>
    </div>
</section>
