<!-- FAQ section -->
<div class="color-red row no-margins text-center">
    <div>
        <h3 class="color-cyan bookmark text-light">FAQ</h3>
    </div>
</div>

<section id="faq" class="container content-section text-center color-cyan">
    <div class="row" align="justify">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <div class="col-md-4 text-light">
              <img class="faq-icon" src="img/icon_faq-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
              <h3 class="when-title" align="center">When is DataHack?</h3>
              <div class="left-text-column ">
              <p align="justify">
              This year’s event will take place on November 25th – 27th, 2015. The event will start on Wednesday, November 25th afternoon and run until Friday, November 27th afternoon. A notice will be given on exact times.
              </p>
              </div>
          </div>
          <div class="col-md-4 text-light">
              <img class="faq-icon" src="img/icon_faq-04.png" alt="Date" style="display:block;margin:auto;margin-bottom:1cm;">
              <h3 class="pay-title" align="center">Do I need to pay?</h3>
              <div class="middle-text-column ">
              <p align="justify">
              No, participating in DataHack is totally free, and includes food and a place to rest.
              </p>
              </div>
          </div>
          <div class="col-md-4 text-light">
              <img class="faq-icon" src="img/icon_faq-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
              <h3 class="hackathon-title" align="center">What is a hackathon?</h3>
              <div class="right-text-column ">
              <p align="justify">
              A hackathon is an event, usually lasting several days, where a large number of developers gather to work together on various computer programming projects.
              </p>
          </div>
        </div>
        </div>
        <div class="col-md-1">
        </div>
        <br><br><br>
    </div>
        <div class="row" align="justify">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <div class="col-md-4 text-light">
                  <img class="faq-icon" src="img/icon_faq-04.png" alt="Date" style="display:block;margin:auto;margin-bottom:1cm;">
                  <h3 class="judge-title" align="center">Who are the judges?</h3>
                  <div class="left-text-column ">
                  <p align="justify">
                  Judges will be a panel that includes academics, designers and developers. We are currently in the process of determining judges. An official notice will be given at a later date.
                  </p>
                  </div>
              </div>
              <div class="col-md-4 text-light">
                  <img class="faq-icon" src="img/icon_faq-04.png" alt="Location" style="display:block;margin:auto;margin-bottom:1cm;">
                  <h3 class="bring-title" align="center">What should I bring?</h3>
                  <div class="middle-text-column">
                  <p align="justify">
                  A laptop and a charger. It’s also a good idea to bring a sleeping bag/blanket/pillow. We will take care of the rest.
                  </p>
                  </div>
              </div>
              <div class="col-md-4 text-light">
                  <img class="faq-icon" src="img/icon_faq-04.png" alt="Participants" style="display:block;margin:auto;margin-bottom:1cm;">
                  <h3 class="teen-title" align="center">Are teenagers allowed to participate?</h3>
                  <div class="right-text-column">
                  <p align="justify">
                  Unfortunately, due to insurance issues, participation is limited to ages 18 and above.<br><br><br>
                  </p>
                  </div>
              </div>
            </div>
            <div class="col-md-1">
            </div>
            <br><br><br>
        </div>

</section>
