<!-- Register section -->
<div class="color-navyblue row no-margins text-center">
    <div>
        <h2 class="color-red bookmark text-light">Prizes</h2>
    </div>
</div>

<section id="prizes" class="container content-section text-center color-red">
    <div class="row" align="justify">
        <div class="col-md-2">
        </div>
        <div class="col-md-3 text-light">
            <img class="first-prize-icon" src="img/icon_1st-02.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
            <h1 class="first-prize-title" align="center">4000 ₪</h1>
        </div>
        <div class="col-md-2 text-light">
            <img class="about-icon" src="img/icon_2nd-02.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
            <h1 class="about-title" align="center">2000 ₪</h1>
        </div>
        <div class="col-md-3 text-light">
            <img class="about-icon" src="img/icon_3rd-02.png" alt="Location" style="display:block;margin:auto;margin-bottom:1cm;">
            <h1 class="about-title" align="center">1000 ₪</h1>
                <div class="col-md-2">
                  <br><br><br>
                </div>
      </div>

    </div>
</section>
