<!-- Register section -->
<div class="color-navyblue row no-margins text-center">
    <div>
        <h2 class="color-blue bookmark text-dark">Sponsors</h2>
    </div>
</div>
<section id="sponsors" class="container content-section text-center color-blue">
    <div class="row" align="justify">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-dark">
          <div class="horizontalgap" style="width:130px"></div> <font size="5"><b>Co-hosted by</b></font><br>
            <a href="https://www.ebayinc.com/" target="_blank">
              <img class="ebay-logo" src="img/logos/logo_ebay.png" alt="ebay" style="display:block;margin:auto;margin-bottom:0;">
            </a>
            <br><br><br>
        <div class="col-md-3"></div>
      </div>
    <div class="row" align="justify">
        <div class="col-md-12 text-center">
            <img class="co-host-separator" src="img/logos/line.png" alt="e" style="align:center; display:inline;margin:auto;margin-bottom:1cm;">
            <br><br><br>
      </div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-light">
          <a href="http://www.outbrain.com/" target="_blank">
            <img class="outbrain-logo" src="img/logos/logo_outbrain.png" alt="Outbrain" style="display:block;margin:auto;margin-bottom:1cm;">
          </a>
        </div>
        <div class="col-md-4 text-light">
          <a href="http://www.similarweb.com/" target="_blank">
            <img class="similarweb-logo" src="img/logos/logo_similarweb.png" alt="SimilarWeb" style="display:block;margin:auto;margin-bottom:1cm;">
          </a>
            <br><br>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-light">
          <a href="http://www.final.co.il/" target="_blank">
            <img class="final-logo" src="img/logos/logo_final.png" alt="Final" style="display:block;margin:auto;margin-bottom:1cm;">
          </a>
        </div>
        <div class="col-md-4 text-light">
          <a href="http://www.cisco.com/" target="_blank">
            <img class="cisco-logo" src="img/logos/logo_cisco.png" alt="Cisco" style="display:block;margin:auto;margin-bottom:1cm;">
          </a>
            <br><br><br><br>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- <div class="row">
        <div class="col-md-2"></div>
        <div class="text-center col-md-8">
          <hr class="divider" style="border-color: #CCCCCC;"/>
        </div>
        <div class="col-md-2"></div>
    </div> -->
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-3 text-light">
            <a href="http://www.theneura.com/" target="_blank">
              <img class="Neura-logo" src="img/logos/logo_neura.png" alt="Neura" style="display:block;margin:auto;margin-bottom:1cm;">
            </a>
          </div>
          <div class="col-md-3 text-light">
            <a href="http://www.emc.com/he-il/index.htm" target="_blank">
              <img class="EMC-logo" src="img/logos/logo_emc.png" alt="EMC" style="display:block;margin:auto;margin-bottom:1cm;">
            </a>
          </div>
          <div class="col-md-3 text-light">
            <a href="http://www.intel.co.il/" target="_blank">
              <img class="Intel-logo" src="img/logos/logo_intel.png" alt="Intel" style="display:block;margin:auto;margin-bottom:1cm;">
            </a>
          </div>
          <div class="col-md-3 text-light">
            <a href="http://www.exlibrisgroup.com/" target="_blank">
              <img class="ExLibris-logo" src="img/logos/logo_exlibris.png" alt="ExLibris" style="display:block;margin:auto;margin-bottom:1cm;">
            </a>
              <br><br><br><br>
          </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- <div class="row">
        <div class="col-md-2"></div>
        <div class="text-center col-md-8">
          <hr class="divider" style="border-color: #CCCCCC;"/>
        </div>
        <div class="col-md-2"></div>
    </div> -->
    <div class="row" align="justify">
        <div class="col-md-2"></div>
        <div class="col-md-2 text-light">
          <a href="https://dato.com/" target="_blank">
            <img class="Dato-logo" src="img/logos/logo_dato.png" alt="Dato" style="display:block;margin:auto;margin-bottom:1cm;">
          </a>
        </div>
        <div class="col-md-2 text-light">
          <a href="https://cloud.google.com/" target="_blank">
            <img class="Google-logo" src="img/logos/logo_google.png" alt="Google" style="display:block;margin:auto;margin-bottom:1cm;">
          </a>
        </div>
        <div class="col-md-2 text-light">
          <a href="http://www.ibm.com/il-he/" target="_blank">
            <img class="IBM-logo" src="img/logos/logo_ibm.png" alt="IBM" style="display:block;margin:auto;margin-bottom:1cm;">
          </a>
        </div>
        <div class="col-md-2 text-light">
          <a href="http://www.storesmarts.com/" target="_blank">
            <img class="storesmarts-logo" src="img/logos/logo_storesmarts.png" alt="StoreSmarts" style="display:block;margin:auto;margin-bottom:1cm;">
          </a>
              <br><br><br>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="text-center col-md-8">
          <hr class="divider" style="border-color: #CCCCCC;"/>
          <br><br><br>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-dark">
            <h1 class="partners-title" align="center">Partners</h1>
            <br><br><br>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-3 text-light">
            <a href="http://www.cs.huji.ac.il/" target="_blank">
              <img class="uni-logo" src="img/logos/logo_uni.png" alt="HUJI" style="display:block;margin:auto;margin-bottom:1cm;">
            </a>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4 text-light">
            <a href="http://www.jda.gov.il/" target="_blank">
              <img class="harli-logo" src="img/logos/logo_harli.png" alt="Harli" style="display:block;margin:auto;margin-bottom:1cm;">
            </a>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 text-light">
            <a href="http://www.hasadna.org.il/" target="_blank">
              <img class="sadna-logo" src="img/logos/logo_sadna.png" alt="Sadna" style="display:block;margin:auto;margin-bottom:1cm;">
            </a>
          </div>
        </div>
       <div class="col-md-1"></div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-3 text-light">
            <a href="http://madeinjlm.org/" target="_blank">
              <img class="madeinjlm-logo" src="img/logos/logo_jlm.png" alt="MadeInJLM" style="display:block;margin:auto;margin-bottom:1cm;">
            </a>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4 text-light">
            <a href="http://www.geektime.co.il/" target="_blank">
              <img class="geektime-logo" src="img/logos/logo_geektime.png" alt="Geektime" style="display:block;margin:auto;margin-top:0.5cm;">
            </a>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 text-light">
            <a href="http://hansen.co.il/" target="_blank">
              <img class="hansen-logo" src="img/logos/logo_hansen.png" alt="Hansen" style="display:block;margin:auto;margin-bottom:1cm;">
            </a>
          </div>
       </div>
       <div class="col-md-1"></div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-3 text-light"></div>
          <div class="col-md-1"></div>
          <div class="col-md-4 text-light">
            <a href="http://siftech.co/" target="_blank">
              <img class="siftech-logo" src="img/logos/logo_siftech.png" alt="Siftech" style="display:block;margin:auto;margin-bottom:1cm;">
            </a>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 text-light"></div>
       </div>
       <div class="col-md-1"></div>
    </div>
</section>
