<!-- Register section -->
<div class="color-blue row no-margins text-center">
    <div>
        <h2 class="color-navyblue bookmark text-light">Team</h2>
    </div>
</div>
<section id="team" class="container content-section text-center color-navyblue">
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-light">
          <div class="col-md-3"></div>
          <div class="col-md-3 text-light">
              <img class="img-reg" src="img/team/inbar.png" alt="Inbar" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Inbar Naor</b></font><br>
              <font size="4">Manager</font></center>
          </div>
          <div class="col-md-3 text-light">
              <img class="img-reg" src="img/team/shay.png" alt="Shay" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Shay Palachy</b></font><br>
              <font size="4">Manager</font></center><br><br><br><br><br>
          </div>
          <div class="col-md-3">  </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-light">
          <div class="col-md-3 text-light">
              <img class="img-reg" src="img/team/dima.png" alt="Dima" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Dima Yarovinsky</b></font><br>
              <font size="4">Marketing & Design</font></center>
          </div>
          <div class="col-md-3 text-light">
              <img class="img-reg" src="img/team/gal.png" alt="Gal" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Gal Yeshurun</b></font><br>
              <font size="4">Finance</font></center>
          </div>
          <div class="col-md-3 text-light">
              <img class="img-reg" src="img/team/noga.png" alt="Noga" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Noga Rotman</b></font><br>
              <font size="4">Logistics</font></center>
          </div>
          <div class="col-md-3 text-light">
              <img class="img-reg" src="img/team/ido.png" alt="Ido" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Ido Ivri</b></font><br>
              <font size="4">Technology</font></center><br><br><br><br><br>
          </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-3 text-light">
              <img class="img-reg" src="img/team/dana.png" alt="Dana" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Dana Baril</b></font><br>
              <font size="4">Registration</font></center>
          </div>
          <div class="col-md-3 text-light">
              <img class="img-reg" src="img/team/dafna_shahaf.png" alt="DafnaShahaf" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Dafna Shahaf</b></font><br>
              <font size="4">Academia</font></center>
          </div>
          <div class="col-md-3 text-light">
              <img class="img-reg" src="img/team/dafna.png" alt="Dafna" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Dafna Rosenblum</b></font><br>
              <font size="4">Students Affairs</font></center><br><br><br><br><br>
          </div>
          <div class="col-md-3 text-light">
              <img class="img-reg" src="img/team/adi.png" alt="Dana" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Adi Erteschik</b></font><br>
              <font size="4">Mentors & Guests</font></center>
          </div>
        </div>
        <div class="col-md-1"> <br><br><br> </div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-2"></div>
        <div class="col-md-3 text-light">
            <img class="img-reg" src="img/team/asaf.png" alt="asaf" style="display:block;margin:auto;margin-bottom:1cm;">
            <center><font size="5"><b>Asaf Valadarsky</b></font><br>
            <font size="4">Data Team</font></center>
        </div>
        <div class="col-md-2 text-light">
            <img class="img-reg" src="img/team/stav.png" alt="stav" style="display:block;margin:auto;margin-bottom:1cm;">
            <center><font size="5"><b>Stav Hertz</b></font><br>
            <font size="4">Data Team</font></center>
        </div>
        <div class="col-md-3 text-light">
            <img class="img-reg" src="img/team/nitzan.png" alt="nitzan" style="display:block;margin:auto;margin-bottom:1cm;">
            <center><font size="5"><b>Nitzan Guberman</b></font><br>
            <font size="4">Data Team</font></center> <br><br><br><br>
        </div>
        <div class="col-md-2">  </div>
    </div>
</section>
