<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include register.html %}
    {% include prizes.html %}
    {% include faq.html %}
    {% include data.html %}
    {% include sponsors.html %}
    {% include team.html %}
    {% include contact.html %}
    {% include map.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
